h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 10px;
    margin: 0px;
}

.container {
    height: 900px;
    max-width: 1200px;;

}
.box-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 35px auto;
    padding: 10px;
 
}
.box-one,
.box {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: hsl(0, 3%, 81%);
    margin: 0px 10px 3px;
    list-style: none;
    cursor: pointer;
}

.img-one {
    width: 700px;
    height: 500px;
    position: absolute;
    top:130px;
    right: calc(50% - 350px);
    overflow: hidden;
    margin-top: 85px;
}

.img-two {
    width: 700px;
    height: 500px;
    position: absolute;
    top:130px;
    right: calc(50% - 350px);
    display: none;
    overflow: hidden;
    margin-top: 85px;
}

.box-one:hover .img-one,
.box:hover .img-two {
    background-color: rgb(197, 193, 193);
    display: block;
}

.box-one:hover,
.box:hover {
    background-color: #a5a1a1;
}